[fs-12] {
  font-size: 12px;
}
[fs-16] {
  font-size: 16px;
}
[fs-20] {
  font-size: 20px;
}
[fs-24] {
  font-size: 24px;
}
[fs-28] {
  font-size: 28px;
}
[fs-32] {
  font-size: 32px;
}
[fs-34] {
  font-size: 34px;
}

[fw-b] {
  font-weight: bold;
}

[pointer] {
  cursor: pointer;
}

[ellipsis] {
  text-overflow:ellipsis;
  overflow: hidden;
  white-space:nowrap;
}

[flex-b] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

[flex-s] {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

[flex-c] {
  display: flex;
  justify-content: center;
  align-items: center;
}

[flex-1] {
  flex: 1;
}
[m-t-5] {
  margin-top: 5px;
}

[m-t-10] {
  margin-top: 10px;
}

[m-t-20] {
  margin-top: 20px;
}

[m-r-5] {
  margin-right: 5px;
}

[m-r-10] {
  margin-right: 10px;
}

[m-r-20] {
  margin-right: 20px;
}

[m-l-5] {
  margin-left: 5px;
}

[m-l-10] {
  margin-left: 10px;
}

[m-l-20] {
  margin-left: 20px;
}

[m-b-5] {
  margin-bottom: 5px;
}

[m-b-10] {
  margin-bottom: 10px;
}

[m-b-20] {
  margin-bottom: 20px;
}

[blod] {
  font-weight: bold;
}

[size-18] {
  font-size: 18px;
}

[size-20] {
  font-size: 20px;
}